/* @formatter:off */
:root {
    --primaryFont: #222;
    --primaryBackground: #e7e7e7;

    --gamehubBackground: #222;
    --museumBackground: #4c5a69;
    --museumFont: #555;
    --bylanBackground: #111827;
}

body {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--primaryBackground);
    color: var(--primaryFont);
    padding: 40px 20px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    overflow-x: hidden;
}

* { margin: 0; padding: 0; }
section { display: flex; flex-direction: column; gap:120px;}
a { text-decoration: none; font-weight: bold; }
a, p { color: var(--primaryFont); }
p { font-size: 16px; }
h1, h2, h3, h4, h5, h6 { display: block; font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; /* margin: 1em 0; /**/ }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: .83em; margin: 1.67em 0; }
h6 { font-size: .67em; margin: 2.33em 0; }

.wrapper { max-width: 100%; }

.wrapper a { text-decoration: underline var(--primaryFont); }
.wrapper:nth-child(3), .wrapper:nth-child(3) a,
.wrapper:nth-child(4), .wrapper:nth-child(4) a,
.wrapper:nth-child(5), .wrapper:nth-child(5) a { color: var(--primaryFont); }

.row { display: flex; flex-wrap: wrap; max-width: 100%; }
.row img { max-width: 200px; max-height: 100px; }

.col:first-child { display: flex; flex-direction: row; gap: 3px; }
.col:last-child { display: flex; flex-direction: column; flex-wrap: nowrap; gap: 10px; }

@media screen and (min-width: 600px) {
    body { max-width: 1280px; }
    .row img { max-width: 400px; max-height: 300px; }
    .col:first-child { flex-direction: column; }
    .row .col:last-child { max-width: 45%; padding-left: 10px; }
}