body {
    background-color: slategrey;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
}

a h3 {
    background-color: aliceblue;
    border:2px;
    border-radius: 5px;
    width: 120px;
    color: slategrey;
}

h1 a h3 {
    position: center;
}


